@font-face {
    font-family: 'gilroy';
    src: url('../font/gilroy.woff2') format('woff2'),
        url('../font/gilroy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-regular';
    src: url('../font/gilroy-regular.woff') format('woff2'),
        url('../font/gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}